<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
</head>
<body>
    <div class="text-center">
        <img src="templates/signo-interrogacion126-26272.gif" />
    </div>
    <br>
    <p>Gracias por utilizar esta aplicacion para el control de gastos personales. Este tutorial le guiara en el uso general del sistema.</p>
    <p><b>Interfaz.</b><br> A continuacion se encuentran las vistas de los controles:</p>
    <div class="text-center">
        <img style="max-width:100%" src="templates/interfaz.png" />
    </div><br>
    <p><b>Gastos y entradas</b><br>En el caso de los gastos y las entradas de dinero es importante tomar en cuenta lo siguiente:<br><br>* Para los gastos hay un check en caso de que el pago sea para sufragar una deuda, al elegirla, el monto sera reducido además del total de las deudas.<br><br>* En gastos se encuentra un espacio donde se elige si el pago se realiza en efectivo o con tarjeta. Si es en efectivo el monto se restara del disponible. Si es con tarjeta el monto incrementará las deudas.<br><br>* Hay un check en la seccion Entradas para definir si la entrada es un endeudamiento, como recibir un prestamo, al elegirla, el monto se sumara tambien a las deudas.<br><br>* Los tipos de gasto o entrada, por ejemplo: pago de recibos o entrada por salario, son definidos en la seccion de configuracion.</p>
    <br><br>
    <p><b>Informacion</b><br>Contiene la informacion de gastos o entradas realizadas, se muestra la fecha del movimiento y como quearian los montos de entradas y deudas despues del movimiento</p>
    <br><br>
    <p><b>Extras:</b><br>Contiene las secciones recordatorios y lista de compras. en apariencia son similares, ademas se pueden añadir lineas nuevas o borrar lineas individualmente.</p>
    <br>
    <div class="text-center">
        <img style="max-width:100%" src="templates/compras.png" />
    </div>
    <br>
    <p>Los recordatorios y las compras pendientes apareceran como notificaciones en la parte superior del sistema.</p>
    <br><br>
    <p><b>Otros botones:</b></p><br>
    <img src="templates/menu.png" />
    <p>Este boton abre el menu lateral izquierdo, donde estan todos los controles</p><br>
    <img src="templates/skins.png" />
    <p>Este boton abre el menu lateral derecho donde se encuentran los colores de interfaz, elige un color favorito.</p>
    <br><br>
    <p><b>Recomendaciones:</b><br>Para su primer uso es recomendable ir primero a la seccion configuracion con el fin de agregar los tipos de gasto y tipos de entradas que utiliza habitualmente para que pueda usarlos durante el registro de gastos o entradas. Si ingresa una entrada o un gasto una ves configurado, podra ver el balance en la grafica de la vista inicial. si su primer registro es un gasto es logico que el balance empiece con numeros negativos, a menos que el primer gasto sea realizado con tarjeta de credito o un endeudamiento. Siempre es recomendable empezar registrando su dinero disponible.</p>
    <br><br>
    <p>Toda sugerencia es importante, para tal efecto puede utilizar el correo martin.sibaja@gmail.com </p>
</body>
</html>
